<% include ./partials/header %>

<div id="mainCon" class="container">
	<div id="leftParallax" class="row">
		<div class="col-md-4">
			<div class="parallaxCoverL">
			</div>
		</div>
	</div>
	<div id="centerCol" class="row">
		<div class="col-md-12">
			<% blogs.forEach(function(blog){ %>
				<div class="cardSettings card mx-auto">
					<img id="mainImg" class="card-img-top" src="<%= blog.image %>" alt="Card image cap">
					<div id="cardB" class="card-body">
						<h5 class="card-title"><%= blog.date %></h5>
						<p class="card-text"><span> <%- blog.body.substring(0,100) %>... </span></p>
						<% if(!secret){ %>
							<a href="/blogs/<%= blog._id %>" class="btn btn-primary">Read More</a>
						<%}else{%>
							<a href="/Sblogs/<%= blog._id %>" class="btn btn-primary">Read More</a>
						<%}%>
					</div>
				</div>
			<%})%>
		</div>
	</div>
	<div id="rightParallax" class="row">
		<div class="col-md-4">
			<div class="parallaxCoverR">
			</div>
		</div>
	</div>
</div>

<% include ./partials/footer %>
