<% include ./partials/header %>
<script>

  $( document ).ready(function() {
	  var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
	console.log(content.style.display.length);
	console.log(content.style.display);
    if (content.style.display.length == 0) {
		console.log("turn it none");
      content.style.display = "none";
    } else {
		console.log("already none");
      content.style.display = "";
    }
  });
}
});

</script>

<div class="ui main text container segment">
	<div class="ui huge header"><%= Sblogs.title %> </div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image showImg" src="<%= Sblogs.image %>">
			<div class="content">
			</div>
			<div class="description">
				<p>
					<%- Sblogs.body %>
				</p>
				<p>
					<%- Sblogs.body2 %>
				</p>
			</div>
			<%if(currentUser && currentUser.username=="admin"){%>
				<a class="ui orange basic button" href="/Sblogs/<%= Sblogs._id %>/edit">Edit</a>
				<form id="delete" action="/Sblogs/<%= Sblogs._id %>?_method=DELETE" method="POST">
					<button class="ui red basic button">DELETE</button>
				</form>
			<%}%>
		</div>
	</div>
<% include ./partials/footer %>
