<% include ./partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= Sblogs.title %> </div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image showImg" src="<%= Sblogs.image %>">
			<div class="content">
			</div>
			<div class="description">
				<p>
					<%- Sblogs.body %>
				</p>
				<p>
					<%- Sblogs.body2 %>
				</p>
			</div>
			<%if(currentUser && currentUser.username=="admin"){%>
				<a class="ui orange basic button" href="/Sblogs/<%= Sblogs._id %>/edit">Edit</a>
				<form id="delete" action="/Sblogs/<%= Sblogs._id %>?_method=DELETE" method="POST">
					<button class="ui red basic button">DELETE</button>
				</form>
			<%}%>
		</div>
	</div>
<% include ./partials/footer %>
