<% include ./partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header"><%= Sblog.title %> </div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= Sblog.image %>">
			<div class="content">
			</div>
			<div class="description">
				<p>
					<%- Sblog.body %>
				</p>
				<p>
					<%- Sblog.body2 %>
				</p>
			</div>
			<%if(currentUser && currentUser.username=="admin"){%>
				<a class="ui orange basic button" href="/Sblogs/<%= Sblog._id %>/edit">Edit</a>
				<form id="delete" action="/Sblogs/<%= Sblog._id %>?_method=DELETE" method="POST">
					<button class="ui red basic button">DELETE</button>
				</form>
			<%}%>
		</div>
	</div>
<% include ./partials/footer %>
