<% include ./partials/header %>
<script>

  $( document ).ready(function() {
    var coll = document.getElementsByClassName("collapsible");
	var i;
	console.log(coll.length);
	for (i = 0; i < coll.length; i++) {
	  coll[i].addEventListener("click", function() {
	    this.classList.toggle("active");
	    var content = this.nextElementSibling;
	    if (content.style.display === "block") {
	      content.style.display = "none";
	    } else {
	      content.style.display = "block";
	    }
	  });
});
}
</script>
<div class="ui main text container segment">
	<div class="ui huge header"><%= blog.title %> </div>
	<div class="ui top attached">
		<div class="item">
			<img id="showImg" class="ui centered rounded image showImg" src="<%= blog.showImage %>">
			<div class="content">
				<span><%= blog.date %></span>
			</div>
			<div class="description">
				<p>
					<%= blog.body %>
				</p>
			</div>
			<%if(currentUser && currentUser.username=="admin"){%>
				<a class="ui orange basic button" href="/blogs/<%= blog._id %>/edit">Edit</a>
				<form id="delete" action="/blogs/<%= blog._id %>?_method=DELETE" method="POST">
					<button class="ui red basic button">DELETE</button>
				</form>
			<%}%>
		</div>
	</div>
</div>

<% include ./partials/footer %>
